h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: Copperplate;
font-weight: 500;
line-height: 1.1;
color: inherit;
}

p {
/* font-family: fantasy; */
font-family: Courier New;
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.navbar-default {
background-color: #FFDEAD;
border-color: #e7e7e7;
}

hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 3px solid;
}


.navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
/* border: solid transparent; */
}

.navbar-default .navbar-nav>li>a {
color: #992443;
font-weight: bolder;
font-size: large;
}

a {
color: #992443;
text-decoration: none;
}

a {
background-color: rgba(216, 128, 12, 0.22);
}

.panel {
/* margin-bottom: 20px; */
background-color: rgba(0, 0, 0, 0.05);
border: 3px solid;
/* border-radius: 4px; */
/* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05); */
box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}